<!-- Start Navbar Area -->
<div [class.sticky]="isSticky" class="navbar-area style-one" id="navbar">
    @defer{
    <div class="header-top md-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="contact-info list-style">
                        <li>
                            <p><i class="flaticon-mail"></i>{{headerData?.email}}</p>
                        </li>
                        <li><i class="flaticon-pin"></i>{{headerData?.address}}</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="contact-info text-lg-end list-style">
                        <li><i class="flaticon-clock"></i>{{headerData?.schedule}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    } @placeholder (minimum 1000ms) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" routerLink="/">
                <img class="logo-light" [src]="imageUrl+headerData?.light_mode_logo" alt="logo">
                <!-- <img class="logo-dark" [src]="imageUrl+headerData?.dark_mode_logo" alt="logo"> -->
            </a>
            <div class="other-option d-flex align-items-center justify-content-end d-lg-none">
                <div class="option-item">
                    <a routerLink="/book-appointment" class="book-appointment">
                        <span class="blink">Appointment</span>
                    </a>
                </div>
                <a class="navbar-toggler" data-bs-toggle="offcanvas" role="button" aria-controls="navbarOffcanvas">
                    <span class="burger-menu" (click)="toggleSidebarMenu()">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    @for (link of navigationLinks; track $index) {
                    @if(link?.is_button == 0 && link?.status == 1) {
                    <li class="nav-item">
                        <a [routerLink]="link?.path" class="dropdown-toggle nav-link">
                            {{link?.name}}
                        </a>
                    </li>
                    }}
                </ul>
                <div class="others-option d-flex align-items-center">
                    <div class="option-item">
                        <a [routerLink]="menuButton?.path" class="book-appointment">
                            <span class=" blink">{{menuButton?.name}}</span>
                        </a>
                    </div>
                    <div class="option-item">
                        <a class="sidebar-toggler" (click)="toggleSidebarMenu()">
                            <i class="flaticon-list"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- End Navbar Area -->


<!-- Start Responsive Navbar Area -->
@defer{
<div class="responsive-navbar offcanvas offcanvas-end" [class.show]="show" data-bs-backdrop="static" tabindex="-1"
    id="navbarOffcanvas">
    <div class="offcanvas-header">
        <a routerLink="/" class="logo d-inline-block">
            <img class="logo-light" [src]="imageUrl+headerData?.light_mode_logo" alt="logo">
            <!-- <img class="logo-dark" [src]="imageUrl+headerData?.dark_mode_logo" alt="logo"> -->
        </a>
        <button type="button" (click)="toggleSidebarMenu()" class="close-btn" data-bs-dismiss="offcanvas"
            aria-label="Close">
            <i class="ri-close-line"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="accordion" id="navbarAccordion">
            <div class="accordion-item">
                <a class="accordion-button without-icon" (click)="toggleSidebarMenu()" routerLink="/">
                    Home
                </a>
            </div>
            @for (link of navigationLinks; track $index) {

            <div class="accordion-item">
                <a class="accordion-button without-icon" (click)="toggleSidebarMenu()" [routerLink]="link?.path">
                    {{link?.name}}
                </a>
            </div>
            }
        </div>
        <div class="offcanvas-contact-info">
            <h4>Contact Info</h4>
            <ul class="contact-info list-style">
                <li>
                    <i class="flaticon-pin"></i>
                    <p>{{headerData?.address}}</p>
                </li>
                <li>
                    <i class="flaticon-mail"></i>
                    <a>{{headerData?.email}}</a>
                </li>
                <li>
                    <i class="flaticon-phone-call"></i>
                    <a [href]="'tel:'+headerData?.phone">{{headerData?.phone}}</a>
                </li>
            </ul>
            <ul class="social-profile list-style">
                <li><a href="https://www.fb.com/" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                <li><a href="https://www.twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a></li>
            </ul>
        </div>
        <div class="others-option d-lg-none">
            <div class="contact-item">
                <i class="flaticon-emergency-call"></i>
                <span>Phone Number</span>
                <a [href]="'tel:'+headerData?.phone">{{headerData?.phone}}</a>
            </div>
        </div>
    </div>
</div>
}

@if(show) {
<div class="offcanvas-backdrop fade show"></div>
}

<!-- <div class="switch-theme-mode">
    <label id="switch" class="switch">
        <input type="checkbox" (change)="toggleTheme()" id="slider">
        <span class="slider round"></span>
    </label>
</div> -->