   <!-- Testimonial Section Start -->
   <div class="testimonial-wrap style-three ptb-100">
    <div class="container">
        <img src="assets/img/clients/shape-2.webp" alt="Image" class="testimonial-shape-one bounce sm-none">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title style-two text-center mb-40">
                    <span>{{testimonialSectionData?.title}}</span>
                    <h2>{{testimonialSectionData?.subtitle}}</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-slider-wrap style-three">
            <div class="testimonial-slider-three swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-card style-three">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="assets/img/clients/client-1.webp" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h5>Lincoln Thomas</h5>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <div class="client-quote">
                                <span class="quote-icon">
                                    <i class="flaticon-quote"></i>
                                </span>
                                <p>Lorem ipsum dolor sit amet consec tetur iusmod tempor incididunt uto labore etd
                                    lorem ipsum dolor ading.</p>
                                <ul class="rating list-style">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-card style-three">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="assets/img/clients/client-2.webp" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h5>Autumn Leilani</h5>
                                    <span>Enterprenaur</span>
                                </div>
                            </div>
                            <div class="client-quote">
                                <span class="quote-icon">
                                    <i class="flaticon-quote"></i>
                                </span>
                                <p>Lorem ipsum dolor sit amet consec tetur iusmod tempor incididunt uto labore etd
                                    lorem ipsum dolor ading.</p>
                                <ul class="rating list-style">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-card style-three">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="assets/img/clients/client-3.webp" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h5>Joshua Nathan</h5>
                                    <span>Designer</span>
                                </div>
                            </div>
                            <div class="client-quote">
                                <span class="quote-icon">
                                    <i class="flaticon-quote"></i>
                                </span>
                                <p>Lorem ipsum dolor sit amet consec tetur iusmod tempor incididunt uto labore etd
                                    lorem ipsum dolor ading.</p>
                                <ul class="rating list-style">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-card style-three">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="assets/img/clients/client-4.webp" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h5>Emily Gianna</h5>
                                    <span>Enterprenaur</span>
                                </div>
                            </div>
                            <div class="client-quote">
                                <span class="quote-icon">
                                    <i class="flaticon-quote"></i>
                                </span>
                                <p>Lorem ipsum dolor sit amet consec tetur iusmod tempor incididunt uto labore etd
                                    lorem ipsum dolor ading.</p>
                                <ul class="rating list-style">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-card style-three">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="assets/img/clients/client-5.webp" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h5>Elijah James</h5>
                                    <span>Businessman</span>
                                </div>
                            </div>
                            <div class="client-quote">
                                <span class="quote-icon">
                                    <i class="flaticon-quote"></i>
                                </span>
                                <p>Lorem ipsum dolor sit amet consec tetur iusmod tempor incididunt uto labore etd
                                    lorem ipsum dolor ading.</p>
                                <ul class="rating list-style">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-card style-three">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="assets/img/clients/client-6.webp" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h5>Elizabeth Ella</h5>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <div class="client-quote">
                                <span class="quote-icon">
                                    <i class="flaticon-quote"></i>
                                </span>
                                <p>Lorem ipsum dolor sit amet consec tetur iusmod tempor incididunt uto labore etd
                                    lorem ipsum dolor ading.</p>
                                <ul class="rating list-style">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-pagination"></div>
            </div>
            <div class="testimonial-slider-btn slider-btn">
                <div class="testimonial-prev prev-btn"><img src="assets/img/left-arrow.svg" alt="Image"></div>
                <div class="testimonial-next next-btn"><img src="assets/img/right-arrow.svg" alt="Image"></div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Section End -->