<div class="breadcrumb-wrap bg-f br-2" [style.background-image]="'url(' + imageUrl+serviceHeaderData?.image + ')'">
    <img src="assets/img/breadcrumb/br-shape-1.webp" alt="Image" class="br-shape-one bounce sm-none">
    <img src="assets/img/breadcrumb/br-shape-2.webp" alt="Image" class="br-shape-two moveHorizontal sm-none">
    <img src="assets/img/breadcrumb/br-shape-3.webp" alt="Image" class="br-shape-three">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>{{serviceHeaderData?.title}}</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a href="index-2.html">Home</a></li>
                <li>{{serviceHeaderData?.title}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="service-wrap ptb-100 bg_optional">
    <div class="container">
        <div class="row justify-content-center">
            @for (service of services; track $index) {
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style-three">
                    <span class="service-img">
                        <img [src]="imageUrl + service?.image" alt="Image">
                    </span>
                    <div class="service-info">
                        <img src="assets/img/services/service-card-shape.webp" alt="Image" class="service-card-shape">
                        <span class="service-icon">
                            <i [class]="service?.icon"></i>
                        </span>
                        <h3><a
                                [routerLink]="['/service',service?.title | slugGenerator, service?.id]">{{service?.title}}</a>
                        </h3>
                        <p>{{service?.description}}</p>
                        <a [routerLink]="['/service',service?.title | slugGenerator, service?.id]"
                            class="btn-three">Read More
                            <i class="flaticon-right-arrow"></i>
                        </a>
                    </div>
                </div>

            </div>
            } @empty {
            <h1 class="text-center"> There are no services! </h1>
            }

            @if(totalItems > perPageServices) {
            <ul class="page-nav list-style text-center mt-40">
                @if (currentPage > 1) {
                <li><a (click)="activeServices(currentPage - 1)">
                        <img src="assets/img/left-arrow-2.svg" alt="Image">
                    </a>
                </li>
                }
                <li><a [class.active]="currentPage === 1" (click)="activeServices(1)">01</a></li>
                <li><a [class.active]="currentPage === 2" (click)="activeServices(2)">02</a></li>
                <li><a [class.active]="currentPage === 3" (click)="activeServices(3)">03</a></li>
                @if (currentPage < 3) { <li><a (click)="activeServices(currentPage + 1)">
                        <img src="assets/img/right-arrow-2.svg" alt="Image">
                    </a>
                    </li>
                    }
            </ul>
            }
        </div>
    </div>