  <!-- Hero Section Start -->
  <div class="hero-wrap style-one">
    <img src="assets/img/hero/hero-shape-1.webp" alt="Image" class="hero-shape-one">
    <img src="assets/img/hero/hero-shape-2.webp" alt="Image" class="hero-shape-two">
    <img src="assets/img/hero/hero-shape-3.webp" alt="Image" class="hero-shape-three moveHorizontal md-none">
    <img src="assets/img/hero/hero-shape-4.webp" alt="Image" class="hero-shape-four bounce md-none">
    <img src="assets/img/hero/hero-shape-5.webp" alt="Image" class="hero-shape-five">
    <div class="container">
        <div class="row align-items-center gx-5">
            <div class="col-xl-7 col-lg-6">
                <div class="hero-content">
                    <span><img src="assets/img/section-shape.svg" alt="Image">Dental Care For Everyone</span>
                    <h1>An Attractive Smile Makes A Lasting <span>Impression!</span><img
                            src="assets/img/section-shape-2.webp" alt="Image"></h1>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="hero-img-wrap">
                    <div class="hero-promo-box">
                        <span><img src="assets/img/hero/promo-img.webp" alt="Image"></span>
                        <div class="hero-promo-text">
                            <h5>Professional Clinic</h5>
                            <div class="ratings">
                                <i class="ri-star-fill"></i><span>4.9</span>( 7.8k Review)
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/hero/hero-img-1.webp" alt="Image" class="hero-img">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-form-wrap">
        <div class="contact-item-wrap">
            <div class="contact-item">
                <i class="flaticon-mail"></i>
                <h6>Contact Us</h6>
                <p>+880172-6187603</p>
                <p>reyadasraf07&#64;gmail.com</p>
            </div>
            <div class="contact-item">
                <i class="flaticon-pin"></i>
                <h6>Location</h6>
                <p>Insaf Baraka kidney And General Hospital, Moghbazar, Dhaka</p>

            </div>
            <div class="contact-item">
                <i class="flaticon-clock"></i>
                <h6>Opening Hours</h6>
                <p>sat - thus: 10:00am to 10:00pm</p>
                <p>Friday: 9:00 am to 12:pm</p>
            </div>
        </div>
        <form action="#" class="hero-form">
            <img src="assets/img/hero/hero-form-shape.webp" alt="Image" class="hero-form-shape">
            <div class="form-group">
                <label for="email"><i class="flaticon-user"></i>Your Name</label>
                <input type="text" id="text" placeholder="Enter Your Name">
            </div>
            <div class="form-group">
                <label for="phone"><i class="flaticon-phone-call"></i>Phone Number</label>
                <input type="number" id="phone" placeholder="Your Phone">
            </div>
            <div class="form-group">
                <label for="date"><i class="flaticon-clock"></i>Date</label>
                <input type="date" id="date">
            </div>
            <div class="form-group">
                <button class="btn-two border-0">Book Now</button>
            </div>
        </form>
    </div>
</div>
<!-- Hero Section End -->
