@import "../../../assets/css/main-style.css";
@import "../../../assets/css/responsive.css";
@import "../../../assets/css/swiper.bundle.min.css";

.invalid-responses p {
    color: coral;
}

.btn-two[disabled] {
    pointer-events: none;
    background-color: #ccc; 
    opacity: .8;
}
