@import "../../../assets/css/main-style.css";
@import "../../../assets/css/responsive.css";
@import "../../../assets/css/swiper.bundle.min.css";


.submit-btn {
    button[disabled] {
      pointer-events: none;
      opacity: .5;
    }
  }
  
  .invalid-responses p {
    color: #ff0000;
  }