<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap bg-f br-11" [style.background-image]="'url(' + imageUrl+contactUsPageData?.image + ')'">
    <img src="assets/img/breadcrumb/br-shape-1.webp" alt="Image" class="br-shape-one bounce sm-none">
    <img src="assets/img/breadcrumb/br-shape-2.webp" alt="Image" class="br-shape-two moveHorizontal sm-none">
    <img src="assets/img/breadcrumb/br-shape-3.webp" alt="Image" class="br-shape-three">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>{{contactUsPageData?.page_title}}</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a href="index-2.html">Home</a></li>
                <li>{{contactUsPageData?.page_title}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Us section Start -->
<section class="contact-us-wrap ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row justify-content-center pb-75 mx-xxl-5">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="contact-card">
                            <img src="assets/img/contact-card-shape.webp" alt="Image" class="contact-shape">
                            <span class="contact-icon">
                                <i class="flaticon-pin"></i>
                            </span>
                            <div class="contact-info">
                                <h3>Our Location</h3>
                                <div [innerHTML]="contactUsPageData?.our_location"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="contact-card">
                            <img src="assets/img/contact-card-shape.webp" alt="Image" class="contact-shape">
                            <span class="contact-icon">
                                <i class="flaticon-mail"></i>
                            </span>
                            <div class="contact-info">
                                <h3>Email Address</h3>
                                <div [innerHTML]="contactUsPageData?.email_address"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="contact-card">
                            <img src="assets/img/contact-card-shape.webp" alt="Image" class="contact-shape">
                            <span class="contact-icon">
                                <i class="flaticon-phone-call"></i>
                            </span>
                            <div class="contact-info">
                                <h3>Phone Number</h3>
                                <div [innerHTML]="contactUsPageData?.phone_numbers"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                <div class="section-title style-one text-center mb-40">
                    <span><img src="assets/img/section-shape.svg" alt="Image">{{contactUsPageData?.form_title}}</span>
                    <h2>{{contactUsPageData?.subtitle | removeLastWord}}
                        <span>{{contactUsPageData?.subtitle |lastWord}}</span>
                        <img src="assets/img/section-shape-2.webp" alt="Image">
                    </h2>
                </div>
            </div>
            <div class="col-xl-10 offset-xl-1">
                <div class="contact-form">

                    <form [formGroup]="contactForm" class="form-wrap" id="contactForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea formControlName="message" placeholder="Your Messages.." cols="30"
                                        rows="10"></textarea>
                                    @if(contactForm.get('message')?.invalid && contactForm.get('message')?.touched){
                                    <p>
                                        @if( contactForm.get('message')?.errors?.['required']) { Message is required. }
                                        @if( contactForm.get('message')?.errors?.['minlength']) { Message must be at
                                        least 100 characters.}
                                        @if( contactForm.get('message')?.errors?.['maxlength']) { Message must be at
                                        most 200 characters.}
                                    </p>
                                    }
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="name" placeholder="Full Name*">
                                    @if(contactForm.get('name')?.invalid && contactForm.get('name')?.touched){
                                    <p>
                                        @if( contactForm.get('name')?.errors?.['required']) { Name is required. }
                                        @if( contactForm.get('name')?.errors?.['minlength']) { Name must be at least 6
                                        characters.}
                                        @if( contactForm.get('name')?.errors?.['maxlength']) { Name must be at most 30
                                        characters.}
                                    </p>
                                    }
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" formControlName="email" placeholder="Your Email Address*">
                                    @if(contactForm.get('email')?.invalid && contactForm.get('email')?.touched){
                                    <p>
                                        @if( contactForm.get('email')?.errors?.['required']) { Email is required. }
                                        @if( contactForm.get('email')?.errors?.['email']) { Invalid Email.}
                                    </p>
                                    }
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="phone" placeholder="Phone Number*">
                                    @if(contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched){
                                    <p>
                                        @if( contactForm.get('phone')?.errors?.['required']) { Phone is required. }
                                        @if( contactForm.get('phone')?.errors?.['minlength']) { Phone number must be 11
                                        digits. }
                                        @if( contactForm.get('phone')?.errors?.['maxlength']) { Phone number exceeds 11
                                        digits. }
                                    </p>
                                    <p>
                                        @if( contactForm.get('phone')?.errors?.['pattern']) { Invalid phone number. }
                                    </p>
                                    }
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="subject" placeholder="Subject*">
                                    @if(contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched){
                                    <p>
                                        @if( contactForm.get('subject')?.errors?.['required']) { Subject is required. }
                                        @if( contactForm.get('subject')?.errors?.['minlength']) { Subject must be at
                                        least 20 characters.}
                                        @if( contactForm.get('subject')?.errors?.['maxlength']) { Subject must be at
                                        most 100 characters.}
                                    </p>
                                    }
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="form-check checkbox">
                                    <input formControlName="check" type="checkbox" id="check">
                                    <label for="check">
                                        I agree to the <a routerLink="terms-conditions">Terms &amp; Conditions</a> and
                                        <a routerLink="privacy-policy">Privacy Policy</a>
                                    </label>
                                </div>

                                @if(contactForm.get('check')?.invalid && contactForm.get('check')?.touched){
                                <p>
                                    @if( contactForm.get('check')?.errors?.['required']) { Check is required. }
                                </p>
                                }
                            </div>
                            <div class="col-md-12 submit-btn">
                                <button type="submit" [disabled]="isSubmitted" class="btn-two">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>