<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap bg-f br-11" [style.background-image]="'url(' + imageUrl+contactUsPageData?.image + ')'">
    <img src="assets/img/breadcrumb/br-shape-1.webp" alt="Image" class="br-shape-one bounce sm-none">
    <img src="assets/img/breadcrumb/br-shape-2.webp" alt="Image" class="br-shape-two moveHorizontal sm-none">
    <img src="assets/img/breadcrumb/br-shape-3.webp" alt="Image" class="br-shape-three">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>{{contactUsPageData?.page_title}}</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a href="index-2.html">Home</a></li>
                <li>{{contactUsPageData?.page_title}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Us section Start -->
<section class="contact-us-wrap ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row justify-content-center pb-75 mx-xxl-5">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="contact-card">
                            <img src="assets/img/contact-card-shape.webp" alt="Image" class="contact-shape">
                            <span class="contact-icon">
                                <i class="flaticon-pin"></i>
                            </span>
                            <div class="contact-info">
                                <h3>Our Location</h3>
                                <div [innerHTML]="contactUsPageData?.our_location"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="contact-card">
                            <img src="assets/img/contact-card-shape.webp" alt="Image" class="contact-shape">
                            <span class="contact-icon">
                                <i class="flaticon-mail"></i>
                            </span>
                            <div class="contact-info">
                                <h3>Email Address</h3>
                                <div [innerHTML]="contactUsPageData?.email_address"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="contact-card">
                            <img src="assets/img/contact-card-shape.webp" alt="Image" class="contact-shape">
                            <span class="contact-icon">
                                <i class="flaticon-phone-call"></i>
                            </span>
                            <div class="contact-info">
                                <h3>Phone Number</h3>
                                <div [innerHTML]="contactUsPageData?.phone_numbers"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                <div class="section-title style-one text-center mb-40">
                    <span><img src="assets/img/section-shape.svg" alt="Image">{{contactUsPageData?.form_title}}</span>
                    <h2>{{contactUsPageData?.subtitle | removeLastWord}}
                        <span>{{contactUsPageData?.subtitle |lastWord}}</span>
                        <img src="assets/img/section-shape-2.webp" alt="Image">
                    </h2>
                </div>
            </div>
            <div class="col-xl-10 offset-xl-1">
                <div class="contact-form">

                    <form [formGroup]="contactForm" class="form-wrap" id="contactForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea formControlName="message" placeholder="Your Messages.." 
                                        cols="30"
                                        rows="10">
                                    </textarea>
                                </div>
                                <div *ngIf="message?.invalid && message?.touched" class="invalid-responses">
                                    <p *ngIf="message?.errors?.['required']">Message is required.</p>
                                    <p *ngIf="message?.errors?.['minlength']">Message must be at least 100 characters.
                                    </p>
                                    <p *ngIf="message?.errors?.['maxlength']">Message must be at most 200 characters.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="name" placeholder="Full Name*">
                                </div>
                                <div *ngIf="name?.invalid && name?.touched" class="invalid-responses">
                                    <p *ngIf="name?.errors?.['required']">Name is required.</p>
                                    <p *ngIf="name?.errors?.['minlength']">Name must be at least 6 characters.</p>
                                    <p *ngIf="name?.errors?.['maxlength']">Name must be at most 30 characters.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" formControlName="email" placeholder="Your Email Address*">
                                </div>
                                <div *ngIf="email?.invalid && email?.touched" class="invalid-responses">
                                    <p *ngIf="email?.errors?.['required']">Email is required.</p>
                                    <p *ngIf="email?.errors?.['email']">Invalid Email.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="phone" placeholder="Phone Number*">
                                </div>
                                <div *ngIf="phone?.invalid && phone?.touched" class="invalid-responses">
                                    <p *ngIf="phone?.errors?.['required']">Phone is required.</p>
                                    <p *ngIf="phone?.errors?.['minlength']">Phone number must be 11 digits</p>
                                    <p *ngIf="phone?.errors?.['maxlength']">Phone number 11 digits exceeds</p>
                                    <p *ngIf="phone?.errors?.['pattern']">Invalid phone number.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="subject" placeholder="Subject*">
                                </div>
                                <div *ngIf="subject?.invalid && subject?.touched" class="invalid-responses">
                                    <p *ngIf="subject?.errors?.['required']">Subject is required.</p>
                                    <p *ngIf="subject?.errors?.['minlength']">Subject must be at least 20 characters.
                                    </p>
                                    <p *ngIf="subject?.errors?.['maxlength']">Subject must be at most 100 characters.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check checkbox">
                                    <input formControlName="check" type="checkbox" id="check">
                                    <label for="check">
                                        I agree to the <a routerLink="terms-conditions">Terms &amp; Conditions</a> and
                                        <a routerLink="privacy-policy">Privacy Policy</a>
                                    </label>
                                </div>
                                <div *ngIf="check?.invalid && check?.touched" class="invalid-responses">
                                    <p *ngIf="check?.errors?.['required']">Check is required.</p>
                                </div>
                            </div>
                            <div class="col-md-12 submit-btn">
                                <button type="submit" [disabled]="isSubmitted" class="btn-two">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>