<div class="container mt-50 mb-40">
    <form class="row" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="col-lg-5 card">
            <h2 class="text-center">Shipping Address</h2>
            <div class="form-group mb-3">
                <label for="name">
                    Full Name<sup class="text-danger">*</sup>
                </label>
                <input id="name" formControlName="name" type="text" placeholder="Full name">
                @if(checkoutForm.get('name')?.invalid && checkoutForm.get('name')?.touched){
                <p>
                    @if( checkoutForm.get('name')?.errors?.['required']) { Name is required. }
                    @if( checkoutForm.get('name')?.errors?.['minlength']) { Name must be at least 6 characters. }
                    @if( checkoutForm.get('name')?.errors?.['maxlength']) { Name must be at most 30 characters. }
                </p>
                }
            </div>

            <div class="form-group mb-3">
                <label for="phone">
                    Phone Number
                    <sup class="text-danger">*</sup>
                </label>
                <input id="phone" formControlName="phone" type="text" placeholder="Phone number">
                @if(checkoutForm.get('phone')?.invalid && checkoutForm.get('phone')?.touched){
                <p>
                    @if( checkoutForm.get('phone')?.errors?.['required']) { Phone is required. }
                    @if( checkoutForm.get('phone')?.errors?.['minlength']) { Phone number must be 11 digits. }
                    @if( checkoutForm.get('phone')?.errors?.['maxlength']) { Phone number exceeds 11 digits. }
                </p>
                <p>
                    @if( checkoutForm.get('phone')?.errors?.['pattern']) { Invalid phone number. }
                </p>
                }
            </div>
            <div class="form-group mb-3">
                <label for="district">
                    District
                    <sup class="text-danger">*</sup>
                </label>
                <input id="district" formControlName="district" type="text" placeholder="Your district">
                @if(checkoutForm.get('district')?.invalid && checkoutForm.get('district')?.touched){
                <p>
                    @if( checkoutForm.get('district')?.errors?.['required']) { District is required. }
                    @if( checkoutForm.get('district')?.errors?.['minlength']) { District must be at least 4 characters.}
                    @if( checkoutForm.get('district')?.errors?.['maxlength']) { District must be at most 15 characters.}
                </p>
                }
            </div>

            <div class="form-group mb-3">
                <label for="thana">
                    Thana
                    <sup class="text-danger">*</sup>
                </label>
                <input id="thana" formControlName="thana" type="text" placeholder="Your thana" name="thana">
                @if(checkoutForm.get('thana')?.invalid && checkoutForm.get('thana')?.touched){
                <p>
                    @if( checkoutForm.get('thana')?.errors?.['required']) { Thana is required.}
                    @if( checkoutForm.get('thana')?.errors?.['minlength']) { Thana must be at least 4 characters.}
                    @if( checkoutForm.get('thana')?.errors?.['maxlength']) { Thana must be at most 15 characters.}
                </p>
                }
            </div>

            <div class="form-group address-area mb-3">
                <label for="address">
                    Address
                    <sup class="text-danger">*</sup>
                </label>
                <textarea class="w-100 address-input" formControlName="address" id="address" rows="2" name="address">
                </textarea>
                @if(checkoutForm.get('address')?.invalid && checkoutForm.get('address')?.touched){
                <p>
                    @if( checkoutForm.get('address')?.errors?.['required']) { Address is required. }
                    @if( checkoutForm.get('address')?.errors?.['minlength']) { Address must be at least 10 characters.}
                    @if( checkoutForm.get('address')?.errors?.['maxlength']) { Address must be at most 50 characters.}
                </p>
                }
            </div>
        </div>

        <div class="col-lg-6 card">
            <div class="orders border-custom">
                <h2 class="text-center mb-3 text-thm">Your Order</h2>
                <table class="mb-3 w-100">
                    <thead>
                        <tr>
                            <th class="text-left">Product</th>
                            <th class="text-right" width="100px;">Price</th>
                            <th class="text-right" width="100px;">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a class="product-link" (click)="this.handleProductLink.emit(true)">{{product?.title}}
                                </a>
                            </td>
                            <td class="text-right">
                                <span class="amount">
                                    <span class="d-md-none d-inline-flex me-2 fw-bold">
                                        Price:
                                    </span>
                                    ৳ {{product?.price}} x {{quantity}}
                                </span>
                            </td>
                            <td class="text-right">
                                <span class="amount">
                                    <span class="d-md-none d-inline-flex me-2 fw-bold">
                                    </span>৳ {{product?.price * quantity}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="cart-subtotal">
                            <th colspan="2" class="text-right">Sub Total</th>
                            <td colspan="4" class="text-right">
                                ৳ {{product?.price * quantity}}
                            </td>
                        </tr>
                        <tr class="cart-subtotal">
                            <th colspan="2" class="card-total">Delivery Charge</th>
                            <td colspan="4">
                                ৳ {{this.checkoutForm.get('delivery_charge')?.value}}
                            </td>
                        </tr>
                        <tr class="order-total">
                            <th colspan="2" class="card-total">Total</th>
                            <td colspan="4">
                                <strong>
                                    ৳ {{(product?.price * quantity) + this.checkoutForm.get('delivery_charge')?.value}}
                                </strong>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <h2 class="billing-title text-center mb-3 text-thm">Payment Method</h2>
                <h3>Delivery Charge </h3>
                <p>Inside Dhaka: ৳ 60</p>
                <p>Outside Dhaka: ৳ 150</p>
                <div>
                    <mat-radio-group formControlName="payment_method">
                        <mat-radio-button [value]="1">Cash on delivery</mat-radio-button>
                        <!-- <mat-radio-button [value]="2" disabled>Online Payment(SSL)</mat-radio-button> -->
                    </mat-radio-group>
                    @if(checkoutForm.get('payment_method')?.invalid && checkoutForm.get('payment_method')?.touched){
                    <p>
                        @if( checkoutForm.get('payment_method')?.errors?.['required']) { Payment method is required. }
                    </p>
                    }
                </div>

                <p class="terms text-dark text-md fw-normal text-capitalize">
                    Your personal data will be used to process your order, support your experience throughout
                    this website, and for other purposes described in our
                    <a routerLink="/privacy-policy">privacy policy</a>.
                </p>

                <div class="form-group">
                    <div class="form-check d-flex checkbox">
                        <input formControlName="check" type="checkbox" id="check">
                        <label for="check">
                            I agree to the <a routerLink="/terms-conditions">Terms &amp; Conditions</a> and
                            <a routerLink="/privacy-policy">Privacy Policy</a>
                        </label>
                    </div>

                    @if(checkoutForm.get('check')?.invalid && checkoutForm.get('check')?.touched){
                    <p>
                        @if( checkoutForm.get('check')?.errors?.['required']) { Check mark is required. }
                    </p>
                    }

                </div>

                <div class="text-center mt-2 submit-btn">
                    <button mat-raised-button type="submit" color="primary" class="text-capitalize p-4">
                        Place Order
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>